<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome, {{ emp.EName }}</h1>
    <p>EMPID: {{ emp.EMPID }}</p>
    <p>Username: {{ emp.username }}</p>
    <p>Email: {{ emp.EEMail }}</p>
    <p>Team: {{ emp.Team }}</p>
    <p>Line Manager: {{ emp.LineManager }}</p>

    <a href="{{ url_for('timesheet_home') }}">Go to Timesheet</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>
