<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar/navbar.css') }}"
    />
  </head>
  <body style="background-color: #bdb8bb">
    <div class="login-box">
      <form class="login-form" method="POST" action="/login">
        <div class="login-title">
          Welcome,<br /><span>Login to continue</span>
        </div>
        <input
          type="text"
          id="ems_login"
          placeholder="Username"
          name="username"
          class="login-input"
          required
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="login-input"
          required
        />
        <button type="submit" class="login-button-confirm">Login →</button>
      </form>
    </div>

    <script>
      if (
        performance.navigation.type === performance.navigation.TYPE_BACK_FORWARD
      ) {
        window.location.href = "/logout";
      }
    </script>
  </body>
</html>
