<!-- templates/timesheet.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Timesheet</title>
  </head>
  <body>
    <h1>Timesheet Options</h1>

    <h2>Welcome, {{ user.EName }}</h2>

    <ul>
      <li><a href="#">Fill Timesheet</a></li>
      <li><a href="#">Summary</a></li>
      <!-- Add link or functionality later -->
      {% if is_manager %}
      <!-- Add link or functionality later -->
      <li><a href="#">Manager Reportee</a></li>
      <!-- Add link or functionality later -->
      {% endif %}
    </ul>

    <a href="{{ url_for('home') }}">Back to Home</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>
